.App {
  background-color: #f9f9f9;
  position: relative;
  height: 100vh;
  min-height: 815px;
}
// ----------------------------------------
// -------------- DARK THEME --------------
// ----------------------------------------
.dark {
  background-color: $very-dark-blue;
}
