.Header {
  @include display-flex(center, unset);
  background-image: url("../assets/images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200px;
  height: 200px;
  color: $very-light-gray;
  margin: 0 auto;
  @include min-max-width(unset, 26.875rem);
  // media queries for screens larger than 1024px
  @include breakpoint-up(large) {
    background-image: url("../assets/images/bg-desktop-light.jpg");
    @include min-max-width(unset, unset);
  }
  &__content {
    @include min-max-width(20.625rem, 25rem);
    @include position-absolute(40px, unset, unset, unset);
    @include display-flex(space-between, center);
    width: 90%;
    // media queries for screens larger than 1024px
    @include breakpoint-up(large) {
      @include min-max-width(unset, 31.2188rem);
    }
    &__h1 {
      font-size: 2em;
      font-weight: $bold;
    }
    &__theme-switcher {
      background-image: url(../assets/images/icon-moon.svg);
      background-repeat: no-repeat;
      background-size: 22px 22px;
      width: 22px;
      height: 22px;
      cursor: pointer;
    }
  }
}
// ----------------------------------------
// -------------- DARK THEME --------------
// ----------------------------------------
.dark {
  .Header {
    background-image: url("../assets/images/bg-desktop-dark.jpg");
    @include breakpoint-up(large) {
      background-image: url("../assets/images/bg-desktop-dark.jpg");
    }
    &__content__theme-switcher {
      background-image: url(../assets/images/icon-sun.svg);
    }
  }
}
