.Header {
  @include display-flex(center, unset);
  background-image: url("../assets/images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200px;
  height: 200px;
  color: $very-light-gray;
  &__content {
    @include min-max-width(20.625rem, 25rem);
    @include position-absolute(22%, unset, unset, unset);
    width: 90%;
    @include display-flex(space-between, center);
    &__h1 {
      font-size: 2em;
      font-weight: $bold;
    }
    &__theme-switcher {
      background-image: url(../assets/images/icon-moon.svg);
      background-repeat: no-repeat;
      background-size: 22px 22px;
      width: 22px;
      height: 22px;
    }
  }
}
