// Mixins

// display-flex
@mixin display-flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
// position: absolute;
@mixin position-absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
// widths
@mixin min-max-width($min-w, $max-w) {
  min-width: $min-w;
  max-width: $max-w;
}
// breakpoints map for media queries
// 640px 1024px 1400px
$breakpoints-up: (
  "medium": "40rem",
  "large": "64rem",
  "xlarge": "87.5rem",
);
// media query mixin
@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
