.ToDo {
  border-bottom: 1px solid lightgrey;
  min-height: 55px;
  display: flex;
  align-items: center;
  &:nth-child(1) {
    border-radius: 7px 7px 0px 0px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__label {
      color: $prgrf-color;
      margin-left: 1.5rem;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      &__task {
        max-width: 90%;
        word-wrap: normal;
        white-space: initial;
        margin-left: 0.9375rem;
        p {
          max-width: 230px;
        }
      }
    }
    // X button (delete task button)
    &__delete-btn {
      position: relative;
      appearance: none;
      background-color: unset;
      border: none;
      width: 16px;
      height: 16px;
      margin-right: 1.25rem;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 1.5px;
        background-color: $dark-grayish-blue;
      }
      .span__1 {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      .span__2 {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
