.ToDoList {
  position: absolute;
  top: 130px;
  right: 50%;
  transform: translate(50%, 0%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  &__tasklist__wrapper {
    // to apply styles
  }
  &__bottom-bar {
    border-radius: 0px 0px 7px 7px;
    border: 1px solid lightgray;
    height: 55px;
  }
}
