.ToDoList {
  @include position-absolute(50%, 50%, unset, unset);
  @include min-max-width(20.625rem, 25rem);
  transform: translate(50%, 0%);
  width: 90%;
  text-align: center;
  margin: 0 auto;
  &__bottom-bar {
    @include display-flex(unset, center);
    border-radius: 0px 0px 7px 7px;
    height: 55px;
    &__spans {
      @include display-flex(space-between, center);
      width: 90%;
      margin: 0 auto;
      &__items-left {
        margin-left: 6px;
      }
      &__items-left,
      &__clear-completed {
        color: $light-grayish-blue;
      }
    }
  }
  .ToDoList__Filter {
    @include display-flex(center, center);
    height: 50px;
    margin-top: 20px;
    border-radius: 7px;
  }
}
